<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

form {
    text-align: center;
}

.container {
    width: 75%;
    padding: 5px;
    background-color: #fafaff;
    border-radius: 5px;
    margin: auto;
}

input[type=text], input[type=submit] {
    width: 75%;
    padding: 10px;
    border-radius: 5px;
}

input[type=submit] {
    width: 25%;
    background-color: #9999ff;
    color: white;
    border-radius: 5px;
}

input[type=submit]:hover {
    opacity: 0.8;
}
</style>
<body>
        <div class="icon-bar">
                <a href="/"><i class="fa fa-home"></i></a> 
                <a href="about"><i class="fa fa-vcard"></i></a> 
                <a class="active" href="contact"><i class="fa fa-envelope"></i></a> 
                <a href="login"><i class="fa fa-key"></i></a>
              </div>
<article>
    <h1>Contact Us</h1>
<form action="/action_page.php">
  <div class="container">
    <h2>Any Questions? Send Us an E-Mail</h2>
    <p>You can send us any questions you have and we will reply back as fast as we can, usually withing 1-2 hours. You can also sign up to our newsletter to get updated on our products, security pacthes and most importantanly special discount offers and compititions.</p>
  </div>
  <div class="container" style="background-color:white">
    <input type="text" placeholder="Name" name="name" required>
    <br><br>
    <input type="text" placeholder="Email address" name="mail" required>
    <br><br>
    <input type="text" placeholder="Your Question here" name="question" required>
  </div>
    <label><br>
      <input text-align=left type="checkbox" checked="checked" name="subscribe"> Daily Newsletter
    </label><br><br>
  <div>
    <input type="submit" value="Send">
  </div>
</form>
<br>
            <h1>You can also get in contact with us here</h1>
Security Service &copy;
<br>
Elsiagårdsvej 5
<br>
DK-4000 Roskilde 
<br>
DENMARK
<br>
Tel: (+45) 22 44 22 32
<br>
On weekdays from 8:00 – 16:00 (4pm) CET.
<br>
E-mail: info@Securtyservice.dk
<br><br><br>
            <h1>Or follow us on social media here:</h1>
            <i class="fa fa-facebook-official" style="font-size:50px"></i>
            <span>Official Facebook Link: <a href="https://www.facebook.com/profile.php?id=10001702150240">https://www.facebook.com/profile.php?id=100017021502409</a></span>
            <br><br>
            <i class="fa fa-github" style="font-size:50px"></i> 
            <span>Official GitHub Organization: <a href="https://github.com/GetOutMotherFucker">https://github.com/SecurityService</a></span>
            <br><br><br>
            <h1>Feel free to donate here:</h1>
            <i class="fa fa-bitcoin" style="font-size:50px"></i> 35Uyx1DfKX2XEk3niayH1nK6X6boB3hB6N
    </article>
  </body>
</html>