<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

form {
    border: 3px solid #f1f1f1;
}

.container {
    padding: 20px;
    background-color: #f1f1f1;
}

input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-top: 16px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}
</style>
<body>
        <div class="icon-bar">
                <a href="/"><i class="fa fa-home"></i></a> 
                <a href="about"><i class="fa fa-vcard"></i></a> 
                <a class="active" href="contact"><i class="fa fa-envelope"></i></a> 
                <a href="login"><i class="fa fa-key"></i></a>
              </div>
<article>
    <h1>Contact Us</h1>

<form action="/action_page.php">
  <div class="container">
    <h2>Any Questions? Send Us an E-Mail</h2>
    <p>You can send us any questions you have and we will reply back as fast as we can, usually withing 1-2 hours. You can also sign up to our newsletter to get updated on our products, security pacthes and most importantanly special discount offers and compititions.</p>
  </div>

  <div class="container" style="background-color:white">
    <input type="text" placeholder="Name" name="name" required>
    <input type="text" placeholder="Email address" name="mail" required>
    <input type="text" placeholder="Your Question here" name="question" required>
    <label>
      <input type="checkbox" checked="checked" name="subscribe"> Daily Newsletter
    </label>
  </div>

  <div class="container">
    <input type="submit" value="Send">
  </div>
</form>
<br><br>
            <h1>You can also get in contact with us here</h1>
Security Service &copy;
<br>
Elsiagårdsvej 5
<br>
DK-4000 Roskilde 
<br>
DENMARK
<br>
Tel: (+45) 22 44 22 32
<br>
On weekdays from 8:00 – 16:00 (4pm) CET.
<br>
E-mail: info@Securtyservice.dk
<br><br><br>
            <h1>Or follow us on social media here:</h1>
            <i class="fa fa-facebook-official" style="font-size:50px"></i>
            <span>Official Facebook Link: <a href="https://www.facebook.com/profile.php?id=100017021502409">https://www.facebook.com/profile.php?id=100017021502409</a></span>
            <br><br>
            <i class="fa fa-twitter" style="font-size:50px"></i>
            <span>Official Twitter Link: <a href="https://twitter.com/brittanyventi">https://twitter.com/getouttahere</a></span>
            <br><br>
            <i class="fa fa-youtube" style="font-size:50px"></i> 
            <span>Official Youtube Channel: <a href="https://www.youtube.com/channel/UCkitABalXafr-NqceQdDXtg">https://www.youtube.com/channel/UCkitABalXafr-NqceQdDXtg</a></span>
            <br><br>
            <i class="fa fa-instagram" style="font-size:50px"></i> 
            <span>Official Instagram Link: <a href="https://www.instagram.com/brittanyventi/">https://www.instagram.com/getouttahere/</a></span>
            <br><br>
            <i class="fa fa-reddit-alien" style="font-size:50px"></i> 
            <span>Official Subreddit: <a href="https://www.reddit.com/r/SomeOrdinaryGmrs/">https://reddit.com/r/GetOuttaHere</a></span>
            <br><br>
            <i class="fa fa-tumblr" style="font-size:50px"></i> 
            <span>Official Tumblr Link: <a href="https://traploverxyz.tumblr.com/">https://getouttahere.tumblr.com/</a></span>
            <br><br>
            <i class="fa fa-github" style="font-size:50px"></i> 
            <span>Official GitHub Organization: <a href="https://github.com/GetOutMotherFucker">https://github.com/GetOutMotherFucker</a></span>
            <br><br>
            <i class="fa fa-vk" style="font-size:50px"></i>
            <span>Official VK Link: <a href="https://vk.com/romanabalin">https://vk.com/getouttahere</a></span>
            <br><br>
            <i class="fa fa-vine" style="font-size:50px"></i>
            <span>Official Vine Link: <a href="http://hentaihaven.org/">https://vine.co/u/1021872089529032704</a></span>
            <br><br>
            <i class="fa fa-vimeo" style="font-size:50px"></i>
            <span>Official Vimeo Link: <a href="https://www.pornhub.com/view_video.php?viewkey=ph57cca577bbf56">https://vimeo.com/user50622015</a></span>
            <br><br>
            <i class="fa fa-twitch" style="font-size:50px"></i>
            <span>Official Twitch Channel: <a href="https://www.twitch.tv/someordinarygamers">https://www.twitch.tv/getouttahere</a></span>
            <br><br><br>
            <h1>Feel free to donate here:</h1>
            <i class="fa fa-bitcoin" style="font-size:50px"></i> 35Uyx1DfKX2XEk3niayH1nK6X6boB3hB6N
            <br><br>
            <i class="fa fa-cc-paypal" style="font-size:50px"></i>
    </article>
  </body>
</html>