<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body {margin:10px;}
    
    .icon-bar {
        width: 100%;
        background-color: #555;
        overflow: auto;
    }
    
    .icon-bar a {
        float: left;
        width: 25%;
        text-align: center;
        padding: 12px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 36px;
    }
    
    .icon-bar a:hover {
        background-color: #000;
    }
    
    .active {
        background-color: #4CAF50 !important;
    }
    </style>
    <body>
    
    <div class="icon-bar">
      <a href="/"><i class="fa fa-home"></i></a> 
      <a href="about"><i class="fa fa-vcard"></i></a> 
      <a class="active" href="contact"><i class="fa fa-envelope"></i></a> 
      <a href="login"><i class="fa fa-key"></i></a>
    </div>
    
    <article>
            <h1>Contact Us</h1>
            Contact us here:
            <br>
            <i class="fa fa-facebook-official" style="font-size:50px"></i>
            <span>Official Facebook Link: <a href="https://www.facebook.com/profile.php?id=100017021502409">https://www.facebook.com/profile.php?id=100017021502409</a></span>
            <br><br>
            <i class="fa fa-twitter" style="font-size:50px"></i>
            <span>Official Twitter Link: <a href="https://twitter.com/brittanyventi">https://twitter.com/getouttahere</a></span>
            <br><br>
            <i class="fa fa-youtube" style="font-size:50px"></i> 
            <span>Official Youtube Channel: <a href="https://www.youtube.com/channel/UCkitABalXafr-NqceQdDXtg">https://www.youtube.com/channel/UCkitABalXafr-NqceQdDXtg</a></span>
            <br><br>
            <i class="fa fa-instagram" style="font-size:50px"></i> 
            <span>Official Instagram Link: <a href="https://www.instagram.com/brittanyventi/">https://www.instagram.com/getouttahere/</a></span>
            <br><br>
            <i class="fa fa-reddit-alien" style="font-size:50px"></i> 
            <span>Official Subreddit: <a href="https://www.reddit.com/r/SomeOrdinaryGmrs/">https://reddit.com/r/GetOuttaHere</a></span>
            <br><br>
            <i class="fa fa-tumblr" style="font-size:50px"></i> 
            <span>Official Tumblr Link: <a href="https://traploverxyz.tumblr.com/">https://getouttahere.tumblr.com/</a></span>
            <br><br>
            <i class="fa fa-github" style="font-size:50px"></i> 
            <span>Official GitHub Organization: <a href="https://github.com/GetOutMotherFucker">https://github.com/GetOutMotherFucker</a></span>
            <br><br>
            <i class="fa fa-vk" style="font-size:50px"></i>
            <span>Official VK Link: <a href="https://vk.com/romanabalin">https://vk.com/getouttahere</a></span>
            <br><br>
            <i class="fa fa-vine" style="font-size:50px"></i>
            <span>Official Vine Link: <a href="http://hentaihaven.org/">https://vine.co/u/1021872089529032704</a></span>
            <br><br>
            <i class="fa fa-vimeo" style="font-size:50px"></i>
            <span>Official Vimeo Link: <a href="https://www.pornhub.com/view_video.php?viewkey=ph57cca577bbf56">https://vimeo.com/user50622015</a></span>
            <br><br>
            <i class="fa fa-twitch" style="font-size:50px"></i>
            <span>Official Twitch Channel: <a href="https://www.twitch.tv/someordinarygamers">https://www.twitch.tv/getouttahere</a></span>
            <br><br>
            <br><br>
            Donate here:
            <br>
            <i class="fa fa-bitcoin" style="font-size:50px"></i> 35Uyx1DfKX2XEk3niayH1nK6X6boB3hB6N
            <br><br>
            <i class="fa fa-cc-paypal" style="font-size:50px"></i>
    </article>
  </body>
</html>