<!DOCTYPE html>
<html>
        <head><% include partials/template/head.ejs %></head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

</style>
<body>

<div class="icon-bar">
        <a href="personal"><i class="fa fa-user-secret"></i></a> 
        <a class="active" href="history"><i class="fa fa-list"></i></a> 
        <a href="settings"><i class="fa fa-wrench"></i></a> 
        <a href="/"><i class="fa fa-lock"></i></a>
</div>
        <h1>History</h1>
        This is a log of all the times Sensor 1 has been activated.
<div id="result"></div>

<script>
if(typeof(EventSource) !== "undefined") {
    var source = new EventSource("https://www.facebook.com/messages/t/jenees.gunatheeswaran");
    source.onmessage = function(event) {
        document.getElementById("result").innerHTML += event.data + "<br>";
    };
} else {
    document.getElementById("result").innerHTML = "Sorry, your browser does not support server-sent events... SO UPGRADE YOUR FUCKING SHIT!";
}
</script>


    <table border="1" width="100%"> 
    <tr>
    <th>Id</th> 
    <th>Tid</th> 
    <th>SensorNummer</th> 
    </tr>
    @foreach(var row in db.Query(query))
    {
    <tr> 
    <td>@row.Id</td> 
    <td>@row.Tid</td> 
    <td>@row.SensorNummer</td> 
    </tr> 
    }
    </table> 
</body>
</html>