<!DOCTYPE html>
<html>
        <head><% include partials/template/head.ejs %></head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

</style>
<body>

<div class="icon-bar"> <!--det er de forskelige funktioner på siden så man kan trukke frem og tilbage -->
    
        <a href="personal"><i class="fa fa-user-secret"></i></a> 
        <a class="active" href="history"><i class="fa fa-list"></i></a> 
        <a href="settings"><i class="fa fa-wrench"></i></a> 
        <a href="/"><i class="fa fa-lock"></i></a>

<div class=history></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>    
    <script src="/js/history.js"></script>
</body>
</html>