<!DOCTYPE html>
<html>
        <head><% include partials/template/head.ejs %></head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
        .active {
            background-color: #0000cc !important;
        }
</style>
<body>
<div class="icon-bar"> <!--det er de forskelige funktioner på siden så man kan trukke frem og tilbage -->
        <a href="personal"><i class="fa fa-user-secret"></i></a> 
        <a class="active" href="history"><i class="fa fa-list"></i></a> 
        <a href="settings"><i class="fa fa-wrench"></i></a> 
        <a href="/"><i class="fa fa-lock"></i></a>
</div>
<div class=history>

                <!DOCTYPE html>
                <html>
                <head>
                <style>
                table {
                    width: 75%;
                }
                
                td, th {
                    border: 1px solid #dddddd;
                }
                
                tr:nth-child(even) {
                    background-color: #dddddd;
                }
                </style>
                </head>
                <body>
                
                <table>
                  <tr>
                    <th>ID</th>
                    <th>Tid</th>
                    <th>SensorNumber</th>
                  </tr>
                  <tr>
                    <td>output += '<h2 style="background-color:#ccccff;"> ' + item.ID +'  </h2>';</td>
                    <td>tid</td>
                    <td>nr</td>
                  </tr>
                  <tr>
                    <td>id</td>
                    <td>tid</td>
                    <td>nr</td>
                  </tr>
                </table>
                
                </body>
                </html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>    
    <script src="/js/history.js"></script>
</body>
</html>