<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body {margin:10px;}
    
    .icon-bar {
        width: 100%;
        background-color: #555;
        overflow: auto;
    }
    
    .icon-bar a {
        float: left;
        width: 25%;
        text-align: center;
        padding: 12px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 36px;
    }
    
    .icon-bar a:hover {
        background-color: #000;
    }
    
    .active {
        background-color: #4CAF50 !important;
    }
    </style>
    <body>
    
    <div class="icon-bar">
      <a class="active" href="#"><i class="fa fa-home"></i></a> 
      <a href="about"><i class="fa fa-search"></i></a> 
      <a href="contact"><i class="fa fa-envelope"></i></a> 
      <a href="loginpage"><i class="fa fa-key"></i></a>
    </div>
    
    <article>
        <h1 id="1">Daniel Karstens<img src="Daniel.png" style="float:right;width:350px;height:350px;"></h1>
    <p>   
        Real Name: Daniel Keem Karstensen.
    <p>   
        Date Of Birth: 11-19-1991.
    <p>   
        Current Locations: Steelport, Chicago, IL.
    <p>   
        Vehicle(s):
        Purple 1964 Chevy Impala,
        Black 1970 Dodge Charger.
    <p>
        Frequently Used Weapon(s):
        Crowbar,
        Beretta 92F,
        Benalli M3,
        Homemade Plastic Explosives.
    <p>
        Gang Color:
        Purple, Black & Platinum.
    <p>
       Affiliations:
       3rd Street Saints, Grove Street Ballaz.
    <p>       
        Crimes Committed:
        Grand theft auto, assassinations, murder, assault, 
        hosting illegal underground street races, created a syndicate of hitmen for hire,
        running in international smuggling ring, running an international prostitution ring.
    <p>
        Catch Phrases:
        I'm in Blog TV with my fucking hands up, you stupid fucking bitch, this fucking nigger Alex is doing this shit,
        you fucking nigger I swear to god, yo, everybody type in the chat Alex is a stupid nigger, just type in chat Alex is a stupid nigger
        I'm fucking white i run the world, you're black you're my slave I own you, you wanna know why they call us crackers?
        it's because we used to crack whips at your monkey asses back when you where our slaves
    <p>
        Estimated Net Worth: $ 1,000,000,000 - $ 1,300,000,000.
    <p>
        Reward: $ 700,000,000. 
    <br><br><br><br><br><br><br><br><br><br>
    </article>
  </body>
</html>
