<!DOCTYPE html>
<html>
        <head><% include partials/template/head.ejs %></head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

</style>
<body>

<div class="icon-bar">
        <a class="active" href="personal"><i class="fa fa-user-secret"></i></a> 
        <a href="history"><i class="fa fa-list"></i></a> 
        <a href="settings"><i class="fa fa-wrench"></i></a> 
        <a href="/"><i class="fa fa-lock"></i></a>
</div>

    <article>
        <h1>This Is Your Personal Page</h1>
        <br>
        <h1>Latest Alerts:</h1>
        <p id="demo"></p>
        <script>
            var myVar = setInterval(myTimer, 420);
            
            function myTimer() {
                var d = new Date();
                document.getElementById("demo").innerHTML = d.toLocaleTimeString();
            }
        </script>
        No Alerts
        <br><br>
        <h1>Sonsor 1:</h1>
        No Alerts
        <br>
        <button onclick="myVar = setTimeout(myFunction, 3000); setTimeout(myFunction, 13000); setTimeout(myFunction, 18000)">Activate Sensor 1</button>

        <button onclick="clearTimeout(myVar)">Deactivate Sensor 1</button>
        
        <script>
        function myFunction() {
            alert("ALERT! Sensor 1 has been activated");
        }
        </script>
    </article>
</body>
</html>