<!DOCTYPE html>
<html>
        <head><% include partials/template/head.ejs %></head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
        .active {
            background-color: #0000cc !important;
        }
</style>
<body>

<div class="icon-bar">
        <a href="personal"><i class="fa fa-user-secret"></i></a> 
        <a href="history"><i class="fa fa-list"></i></a> 
        <a class="active" href="settings"><i class="fa fa-wrench"></i></a> 
        <a href="/"><i class="fa fa-lock"></i></a>
</div>

<article>
        <h1>Change Your Settings</h1>
</article>
</body>
</html>